# others

script
scripts
*.vcproj
*.sln
*.ncb
*.suo
*.user
*.bat

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.dbg
*.map
*.lbl

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables

*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

native_player/win_mgLib/
native_player/win_bin/

script_compiler/*.aps
script_compiler/*.h
script_compiler/*.c
script_compiler/*.rc
script_compiler/*.sln
script_compiler/Debug
script_compiler/Release

samples/accuse/bin
samples/accuse/tmp
samples/accuse/*.h
samples/accuse/advcartridge
samples/accuse/*.bat

samples/cloak_of_darkness/bin
samples/cloak_of_darkness/tmp
samples/cloak_of_darkness/*.h
samples/cloak_of_darkness/advcartridge
samples/cloak_of_darkness/*.bat